/* Copyright © 2010-2013 Voormedia. - WWW.VOORMEDIA.COM */

html { height: 100%; overflow-y: scroll; }
body { height: 100%; margin: 0; line-height: 145%; color: #07192b; background-color: #327eba; font-family: Arial, sans-serif; }

div.container { width: 750px; margin: 0 auto; }

div.header h1 { margin: 0; padding: 65px 0 25px; font-size: 240%; font-weight: bold; }
div.header h1 a { text-decoration: none; }
div.header h1 span.subtitle { display: block; float: right; font-size: 55%; font-weight: normal; text-align: right; line-height: 150%; }

div.header { background: #fff5e4 none; }
div.header h1, div.header h1 a, div.header h1 span.subtitle { color: #07192b; }

div.summary { padding: 17px 0; background: #327eba url(../images/blue-back.png) repeat-x; color: #fff; font-size: 130%; line-height: 140%; }
div.summary img { float: right; margin: 0 -20px -10px 0; border-width: 0; }
div.summary p { width: 410px; margin: 0; padding: 20px 0 0; }
div.summary p a { display: block; margin: 0; padding: 0; color: #fff; text-decoration: none; }
div.summary p a:hover { color: #fff; text-decoration: underline; }

div.navigation { padding: 5px 0; background-color: #07192b; }
div.navigation ul { margin: 0 -20px 0 -20px; padding: 0; }
div.navigation ul li { display: block; float: left; margin: 0; padding: 0; list-style-type: none; }
div.navigation ul li a { display: block; float: left; padding: 10px 20px 10px 20px; font-size: 130%; font-weight: bold; color: #faf7d4; text-decoration: none; }
div.navigation a.selected { color: #eb972f; }
div.navigation a:hover { color: #fff; }
div.navigation a:hover.selected { color: #db972f; }
div.navigation a span.out { font-size: 90%; margin-right: -10px; }

div.main { margin: 0; padding: 30px 0 50px; background: #fff5e4 url(../images/main-back.png) repeat-x; }

div.footer { margin: 0; padding: 20px 0 180px; background: #327eba url(../images/blue-back.png) repeat-x; color: #fff; font-size: 90%; line-height: 140%; }
div.footer a { color: #fff; text-decoration: none; }
div.footer p { margin: 0 0 15px; }

h2 { margin: 50px 0 10px; font-size: 130%; font-weight: bold; }
h3 { margin: 30px 0 5px; font-size: 100%; font-weight: bold; }

h2 a, h3 a, h4 a, h5 a { text-decoration: none; color: #07192b; }
a { color: #cb771f; }
p { margin: 16px 0; padding: 0; }
p.jumpto { margin: 42px 0; font-weight: bold; }
tt { padding: 0 3px; font-family: Courier, fixed; font-size: 105%; }

img.erd { padding: 14px; border: 1px solid #cb771f; background-color: #fff; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
img.section { padding: 14px 42px; }
table.combined, pre { margin: 16px 0; padding: 10px 15px; border: 1px solid #cb771f; background-color: #fff; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; font-family: Courier, fixed; }
pre { font-size: 110%; line-height: 115%; }
table.combined { width: 100%; font-size: 100%; }
table.combined pre { border: 0; margin: 0; padding: 0; }
table.combined img.erd { float: right; border: 0; margin: 0; padding: 0; }
div.console pre { border: 0; background-color: #327eba; color: #fff; font-size: 125%; }
table td.list { padding-right: 60px; }

dl dt { margin: 10px 0; }
dl dd { margin: 10px 0 20px 40px; }
dl dt pre { margin: 0; padding: 0; border: 0; background: transparent; font-family: Courier, fixed; font-size: 110%; font-weight: bold; }
dl dl dt { display: block; float: left; margin: 0; width: 150px; }
dl dl dd { display: block; margin: 10px 0 10px 10px; }

div.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
div.clearfix { display: inline-block; display: block; }
* html div.clearfix { height: 1%; }

.console .c { color: #81c6fd; font-style: italic } /* Comment */
.console .gp { color: #81c6fd; font-style: italic } /* Comment */

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #aaaaaa; font-style: italic } /* Comment */
.highlight .err { color: #F00000; background-color: #F0A0A0 } /* Error */
.highlight .k { color: #0000aa } /* Keyword */
.highlight .cm { color: #aaaaaa; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #4c8317 } /* Comment.Preproc */
.highlight .c1 { color: #aaaaaa; font-style: italic } /* Comment.Single */
.highlight .cs { color: #0000aa; font-style: italic } /* Comment.Special */
.highlight .gd { color: #aa0000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00aa00 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #0000aa } /* Keyword.Constant */
.highlight .kd { color: #0000aa } /* Keyword.Declaration */
.highlight .kn { color: #0000aa } /* Keyword.Namespace */
.highlight .kp { color: #0000aa } /* Keyword.Pseudo */
.highlight .kr { color: #0000aa } /* Keyword.Reserved */
.highlight .kt { color: #00aaaa } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #aa5500 } /* Literal.String */
.highlight .na { color: #1e90ff } /* Name.Attribute */
.highlight .nb { color: #00aaaa } /* Name.Builtin */
.highlight .nc { color: #00aa00; text-decoration: underline } /* Name.Class */
.highlight .no { color: #aa0000 } /* Name.Constant */
.highlight .nd { color: #888888 } /* Name.Decorator */
.highlight .ni { color: #800000; font-weight: bold } /* Name.Entity */
.highlight .nf { color: #00aa00 } /* Name.Function */
.highlight .nn { color: #00aaaa; text-decoration: underline } /* Name.Namespace */
.highlight .nt { color: #1e90ff; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #aa0000 } /* Name.Variable */
.highlight .ow { color: #0000aa } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #aa5500 } /* Literal.String.Backtick */
.highlight .sc { color: #aa5500 } /* Literal.String.Char */
.highlight .sd { color: #aa5500 } /* Literal.String.Doc */
.highlight .s2 { color: #aa5500 } /* Literal.String.Double */
.highlight .se { color: #aa5500 } /* Literal.String.Escape */
.highlight .sh { color: #aa5500 } /* Literal.String.Heredoc */
.highlight .si { color: #aa5500 } /* Literal.String.Interpol */
.highlight .sx { color: #aa5500 } /* Literal.String.Other */
.highlight .sr { color: #009999 } /* Literal.String.Regex */
.highlight .s1 { color: #aa5500 } /* Literal.String.Single */
.highlight .ss { color: #0000aa } /* Literal.String.Symbol */
.highlight .bp { color: #00aaaa } /* Name.Builtin.Pseudo */
.highlight .vc { color: #aa0000 } /* Name.Variable.Class */
.highlight .vg { color: #aa0000 } /* Name.Variable.Global */
.highlight .vi { color: #aa0000 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
