language: ruby
rvm:
  - 1.9.3
  - jruby
before_install:
  - gem install bundler
  - sudo apt-get update -qq
  - sudo apt-get install -qq graphviz
script: bundle exec rake
matrix:
  allow_failures:
    - rvm: jruby
  fast_finish: true
cache: bundler
