language: ruby
rvm:
  - 1.9.3
  - 2.0
  - 2.1
  - 2.2
  - jruby
gemfile:
  - gemfiles/Gemfile-rails.3.2.x
  - gemfiles/Gemfile-rails.4.0.x
  - gemfiles/Gemfile-rails.4.1.x
  - gemfiles/Gemfile-rails.4.2.x
  - gemfiles/Gemfile-rails.5.0.x
  - gemfiles/Gemfile-rails.edge
before_install:
  - gem install bundler
  - sudo apt-get update -qq
  - sudo apt-get install -qq graphviz
script: bundle exec rake
matrix:
  exclude:
    - rvm: 1.9.3
      gemfile: gemfiles/Gemfile-rails.5.0.x
    - rvm: 2.0
      gemfile: gemfiles/Gemfile-rails.5.0.x
    - rvm: 2.1
      gemfile: gemfiles/Gemfile-rails.5.0.x
  allow_failures:
    - rvm: jruby
    - gemfile: gemfiles/Gemfile-rails.edge
  fast_finish: true
cache: bundler
