<div class="navigation clearfix">
  <div class="container">
    <ul>
      <li><a {% if page.id == "index" %}class="selected" {% endif %}href="{{site.baseurl}}/">Summary</a></li>
      <li><a {% if page.id == "gallery" %}class="selected" {% endif %}href="{{site.baseurl}}/gallery.html">Gallery</a></li>
      <li><a {% if page.id == "install" %}class="selected" {% endif %}href="{{site.baseurl}}/install.html">Install</a></li>
      <li><a {% if page.id == "customise" %}class="selected" {% endif %}href="{{site.baseurl}}/customise.html">Customise</a></li>
      <li><a href="{{site.docurl}}">API Docs</a></li>
      <li><a href="http://github.com/voormedia/rails-erd">Source</a></li>
    </ul>
  </div>
</div>
