attributes:
  - content
  - foreign_key
  - inheritance
  - false
disconnected: true
filename: erd
filetype: pdf
indirect: true
inheritance: false
markup: true
notation: simple
orientation: horizontal
polymorphism: false
warn: true
title: sample title
exclude:
only: 

