attributes:
  - content
  - foreign_key
  - inheritance
  - false
disconnected: true
filename: erd
filetype: pdf
indirect: true
inheritance: false
markup: true
notation: simple
orientation: horizontal
polymorphism: false
sort: true
warn: true
title: sample title
exclude: null
only: null
prepend_primary: false
cluster: false
