name: Tests
on:
  pull_request:
  push:
permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        ruby_version:
          - 2.7.6
          - 3.0.4
          - 3.1.2
        rails_version:
          - 5.2.x
          - 6.0.x
          - 6.1.x
          - 7.0.x
          - edge
    name: Ruby ${{ matrix.ruby_version }} on Rails ${{ matrix.rails_version }}
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/Gemfile-rails.${{ matrix.rails_version }}
    steps:
    - name: Install graphviz
      run: |
        sudo apt-get update -qq
        sudo apt-get install -qq graphviz
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby_version }}
        bundler-cache: true
    - name: Install dependencies
      run: bundle install
    - name: Run tests
      run: bundle exec rake test
